<!DOCTYPE html>
<html>
<head>
  <title>Playlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="twelve columns">
			<% if flash[:errors] %>
			  <% flash[:errors].each do |e| %>
			    <p><%= e %></p>
			  <% end %>
			<% end %>
			<% if current_user %>
			  <h4 style="display:inline-block">Hello, <%=  current_user.first_name+" "+current_user.last_name %>!</h4>
			  <a href="/songs">Song Dashboard</a> | 
			  <a href="/users/<%= current_user.id %>">Your Playlist</a>
			  <form action='/sessions' method='post' style="display:inline">
			    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
			    <input type='hidden' name='_method' value='delete'>
			    <input type='submit' value='Log Out'>
			  </form>
			<% end %>
		</div>
	</div>

<%= yield %>
</div>

</body>
</html>
